// SPDX-License-Identifier: GPL-2.0-only
/*
 * Ripcurrent board audio device tree source
 *
 * Copyright 2022 Google LLC
 */


#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/samsung.h>
//#include <dt-bindings/sound/google-aoc.h>

&aoc {
	aoc-board-cfg = "RC";
	aoc-board-id = <0x40101>;
	aoc-board-rev = <0x10000>;
};

/* DP audio */
&aoc_dp_nohost_drv {
	status = "okay";
};

/* DP audio */
&dai_fe_dp_dma_nohost_rx {
	status = "okay";
};

/* DP audio */
&dai_be_dp_rx {
	status = "okay";
	codec {
		sound-dai = <&drmdp_adma_pb>;
	};
};

/* DP audio */
&dpado_mem {
	status = "okay";
};

/* DP audio */
&drmdp_adma {
	status = "okay";
	memory-region = <&dpado_mem>;
};

/* DP audio */
&drmdp_adma_pb {
	status = "okay";
};

&dai_be_tdm0_rx {
	codec {
		sound-dai = <&cs35l41_1 0>,
			<&cs35l41_2 0>,
			<&cs35l41_3 0>;
	};
};

&dai_be_tdm0_tx {
	codec {
		sound-dai = <&cs35l41_1 0>,
			<&cs35l41_2 0>,
			<&cs35l41_3 0>;
	};
};

&aoc_snd_card {
	clks {
		sys {
			sys@cs35l41_l {
				comp = <&cs35l41_1>;
				src = "BCLK";
				/* clk id */
				id = <0>;
				/* clk source */
				srcid = <0>;
				/* in clk multiple */
				in_mul = <1>;
				/* out clk multiple */
				out_mul = <1>;
			};

			sys@cs35l41_r {
				comp = <&cs35l41_2>;
				src = "BCLK";
				/* clk id */
				id = <0>;
				/* clk source */
				srcid = <0>;
				/* in clk multiple */
				in_mul = <1>;
				/* out clk multiple */
				out_mul = <1>;
			};

			sys@cs35l41_e {
				comp = <&cs35l41_3>;
				src = "BCLK";
				/* clk id */
				id = <0>;
				/* clk source */
				srcid = <0>;
				/* in clk multiple */
				in_mul = <1>;
				/* out clk multiple */
				out_mul = <1>;
			};
		};
	};
};

/* GPIO_ALIVE */
&pinctrl_0 {
	cs35l41_2_irq: cs35l41-2-irq {
		samsung,pins = "gpa7-2"; /* XEINT_16 */
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};
};

/* GPIO_FAR_ALIVE */
&pinctrl_2 {
	cs35l41_1_irq: cs35l41-1-irq {
		samsung,pins = "gpa5-2"; /* XEINT_2 */
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};
	cs35l41_3_irq: cs35l41-3-irq {
		samsung,pins = "gpa5-5"; /* XEINT_5 */
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};
};

/* GPIO_PERIC0 */
&pinctrl_11 {
	cs35l41_1_rst: cs35l41-1-rst {
		samsung,pins = "gpp1-1"; /* XAPC_GPIO3 */
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
};

/* GPIO_PERIC1 */
&pinctrl_8 {
	cs35l41_2_rst: cs35l41-2-rst {
		samsung,pins = "gph2-1"; /* XHSI1_GPIO11 */
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
};

/* GPIO_HSI0 */
&pinctrl_12 {
	cs35l41_miso: cs35l41-miso {
	};

	cs35l41_mosi: cs35l41-mosi {
	};

	cs35l41_clk: cs35l41-clk {
	};

	cs35l41_cs1: cs35l41-cs1 {
	};

	cs35l41_cs2: cs35l41-cs2 {
		samsung,pins = "gpn1-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <ZUMA_PIN_DRV_X2>;
	};

	cs35l41_cs3: cs35l41-cs3 {
		samsung,pins = "gpn2-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <ZUMA_PIN_DRV_X2>;
	};
};

/* Cambria-SUB */
&s2mpg15_pinctrl {
	cs35l41_3_rst: cs35l41-3-rst { // GPIO_13
	};
};

&spi_19 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <>;

	num-cs = <3>;
	cs-gpios = <0
		    &gpn1 0 GPIO_ACTIVE_LOW
		    &gpn2 0 GPIO_ACTIVE_LOW>;

	cs35l41_1: cs35l41@0 {
		#sound-dai-cells = <1>;
		compatible = "cirrus,cs35l41";
		spi-max-frequency = <10000000>;
		reg = <0>;

		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&cs35l41_1_irq &cs35l41_1_rst>;

		interrupt-parent = <&gpa5>;
		interrupts = <2 0 0>;

		reset-gpios = <&gpp1 1 GPIO_ACTIVE_HIGH>;

		VA-supply = <&s_bucka_reg>;
		VP-supply = <&V_SYS_dummy>;

		cirrus,boost-peak-milliamp = <3500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <30>;

		cirrus,asp-sdout-hiz = <3>;
		cirrus,tuning-has-prefix;
		cirrus,hw-noise-gate-select = <63>;
		//cirrus,hibernate-enable;

		cirrus,gpio-config2 {
			cirrus,gpio-src-select = <0x4>;
			cirrus,gpio-output-enable;
		};

		controller-data {
			samsung,spi-feedback-delay = <1>;
			/* SET SPI CS CONTROL TO MANUAL MODE */
			samsung,spi-chip-select-mode = <0>;
		};
	};

	cs35l41_2: cs35l41@1 {
		#sound-dai-cells = <1>;
		sound-name-prefix = "R";
		compatible = "cirrus,cs35l41";
		spi-max-frequency = <10000000>;
		reg = <1>;

		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&cs35l41_2_irq &cs35l41_2_rst>;

		interrupt-parent = <&gpa7>;
		interrupts = <2 0 0>;

		reset-gpios = <&gph2 1 GPIO_ACTIVE_HIGH>;

		VA-supply = <&s_bucka_reg>;
		VP-supply = <&V_SYS_dummy>;

		cirrus,boost-peak-milliamp = <3500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <30>;

		cirrus,asp-sdout-hiz = <3>;
		cirrus,tuning-has-prefix;
		cirrus,hw-noise-gate-select = <63>;
		//cirrus,hibernate-enable;

		cirrus,gpio-config2 {
			cirrus,gpio-src-select = <0x4>;
			cirrus,gpio-output-enable;
		};

		controller-data {
			samsung,spi-feedback-delay = <1>;
			/* SET SPI CS CONTROL TO FORCE_QUIESCE_AUTO_CS_MODE */
			samsung,spi-chip-select-mode = <2>;
		};
	};

	cs35l41_3: cs35l41@2 {
		#sound-dai-cells = <1>;
		sound-name-prefix = "E";
		compatible = "cirrus,cs35l41";
		spi-max-frequency = <10000000>;
		reg = <2>;

		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&cs35l41_3_irq &cs35l41_3_rst>;

		interrupt-parent = <&gpa5>;
		interrupts = <5 0 0>;

		reset-gpios = <&s2mpg15_gpio 7 GPIO_ACTIVE_HIGH>;

		VA-supply = <&s_bucka_reg>;
		VP-supply = <&V_SYS_dummy>;

		cirrus,boost-peak-milliamp = <3500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <30>;

		cirrus,asp-sdout-hiz = <3>;
		cirrus,tuning-has-prefix;
		cirrus,hw-noise-gate-select = <63>;
		//cirrus,hibernate-enable;

		cirrus,gpio-config2 {
			cirrus,gpio-src-select = <0x4>;
			cirrus,gpio-output-enable;
		};

		controller-data {
			samsung,spi-feedback-delay = <1>;
			/* SET SPI CS CONTROL TO AUTO_CS_MODE_FORCE_QUIESCE */
			samsung,spi-chip-select-mode = <2>;
		};
	};

};


